.venv/

.idea/

**/__pycache__/

# .env - оставляю так намеренно, для проверки
# .docker.env - оставляю так намеренно, для проверки

# screenshots - оставляю так намеренно, для проверки

db.sqlite3

**/orders_reports